@font-face {
    font-family: 'SpaceMono-Bold';
    src: url('../fonts/Space_Mono/SpaceMono-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceMono-Regular';
    src: url('../fonts/Space_Mono/SpaceMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceMono-Italic';
    src: url('../fonts/Space_Mono/SpaceMono-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'SpaceMono-Regular';
    color: white;
    font-size: 20px;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

body{
    background-color: #343d46;
    background-color: #343d46;
    /* background-color: #2d478e; */
    /* background-color: #1a3580; */
    /* background-color: #000050; */
    /* background-color: #27163c; */
}

header{
    height: 7vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    border-radius: 60px;
    overflow: hidden;
    min-width: 450px;
    position: absolute;
    z-index: 2;
    width: 45%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.main_main_page {
    height: 86vh;
    min-height: 500px;
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.main_main_page article {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    border: 0px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    width: 40%;
    min-width: 500px;
    padding: 20px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 7%;

    transition: all 0.3s ease 0s;
}

.main_main_page article:hover {
    transform: translateY(-5px);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
}