.main_form_page {
    min-width: 330px;
    height: 86vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main_form_page article {
    height: 70%;
    width: 20%;
    padding: 20px; /* Внутренний отступ, хватит путать 👺 */
    margin: 20px; /* Внешний отступ, хватит путать 👺 */
    border-radius: 20px;
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth_form {
    border-radius: 20px;
    height: 75%;
    padding: 20px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}